@import '../../../styles/settings.scss';

.allPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $margin-padding * 2;
}

.adSide {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 70%;
    border: 3px solid $color-violet;
    border-radius: $radius * 1.5;
    padding: $margin-padding * 1.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    img {
        width: 500px;
        height: 250px;
        margin-block: $margin-padding * 2;
    }
    .big{
        font-weight: bolder;
        font-size: $base-size * 1.5;
    }
}

.sellerSide {
    background-color: $color-pink-white;
    border-radius: $radius * 3;
    width: 350px;
    height: 650px;
    text-align: center;
    padding: $margin-padding;
    h1 {
        color: $color-black;
        font-weight: bolder;
        letter-spacing: 0px;
    }
    h3 {
        color: $color-black;
    }
    .avatar{
        margin-top: $margin-padding * 2;
        margin-bottom: $margin-padding * 2;
        width: 200px;
        height: 300px;
        border-radius: $radius * 4;
    }
    p{
        margin-top: $margin-padding *2;
        color: $color-black;
        font-size: $base-size * 1.5;
    }
    .callNow{
        color: $color-error;
        font-weight: bolder;
    }
}

.ownAd {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
