@import '../../../styles/settings.scss';

.navbar {
    background-color: violet;
    color: white;
    border-radius: 10px;
    margin: 30px 10px;
    .logo{
        color: white;
    }
    .nav {
        margin-right: 10px;
        
    }
    .nav a.link{
        text-decoration: none;
        border: solid 3px $color-violet-lighter;
        border-radius: $radius*4;
        margin: 5px;
    }
    .nav .link:hover{
        text-decoration: none;
        background-color: $color-violet;
    }
    .linkActive {
        color: white !important;
        transition: 0.5s;
    }
}