$color-violet: #370a43;
$color-violet-lighter: #7e2b9c;
$color-amethyst: #b85ecf;
$color-amethyst-light: #d4a5f3;
$color-pink-white: #f4d1ff;
$color-black: #000000;
$color-white: #ffffff;
$color-success: #01916d;
$color-error: #EA2027;
$color-error-hover: #8c0f14;
$color-danger: #f0932b;
$color-info: #2b7cb3;
$color-info-hover: #184d70;

$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$base-size: 14px;
$transition: all 0.5s;

$margin-padding: 20px;